<h1>Date Pipe</h1>
<h4>Date: {{ date }}</h4>

<h4>Date: {{ date | date }}</h4>

<h4>Date: {{ date | date : "medium" }}</h4>
<h4>Date: {{ date | date : "short" }}</h4>
<h4>Date: {{ date | date : "fullDate" }}</h4>
<h4>Date: {{ date | date : "longDate" }}</h4>

<h1>Slice Pipe</h1>
<h4>{{ data | slice : 0 : 5 }}</h4>
<ul>
  <li *ngFor="let item of list | slice : 0 : 3">{{ item }}</li>
</ul>

<h1>Currency Pipe</h1>
<h4>Amount: {{ amount }}</h4>
<h4>Amount: {{ amount | currency }}</h4>
<h4>Amount: {{ amount | currency : "INR" }}</h4>
